# Database
DATABASE_URL=postgresql://postgres:lamis@localhost:5432/verifyhire

# JWT
SECRET_KEY=hjsdahcbul7gf3ybuihcoiwdu9cwyvcacsbuclwaghuVygJKFDNNFOBEHKUIovkhuvcilbewvfhvrcjgrevjbifucvsdjkhciklhviuevhjfiyvgewohwuiwiowegyei
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Environment
ENVIRONMENT=development
DEBUG=True